# Core
streamlit

# Image & video processing
opencv-python-headless
pillow
numpy
moviepy
imageio-ffmpeg

# Machine learning & deep learning
tensorflow
matplotlib
scikit-learn

# Emotion recognition
fer
