# Core
streamlit==1.51.0

# NumPy (compatible with opencv 4.11)
numpy==1.26.4

# Use headless OpenCV (single opencv wheel only)
opencv-python-headless==4.11.0.86

# Image & video processing
Pillow==12.0.0
moviepy==1.0.3
imageio-ffmpeg

# Machine learning & deep learning
tensorflow==2.20.0
matplotlib
scikit-learn

# Emotion recognition
fer==25.10.3
mtcnn==1.0.0
