# Core
streamlit

# force headless opencv
opencv-python-headless==4.8.0.74

# Image & video processing
Pillow
numpy
moviepy==1.0.3
imageio-ffmpeg

# ML
tensorflow
matplotlib
scikit-learn

# Emotion recognition
fer
mtcnn
